<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>职业生涯</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.4.css" />
    <link rel="stylesheet" type="text/css" href="../libs/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootsnav.css" />
    <link rel="stylesheet" type="text/css" href="../css/service.css" />

    <style>
      #allmap {
        width: 100%;
        height: 500px;
      }

      .p-title {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.8);
      }

      .p-content {
        color: rgba(0, 0, 0, 0.6);
        line-height: 30px;
      }

      .career-li {
        max-width: 680px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-default navbar-mobile bootsnav">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#navbar-menu"
          >
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="li"><a href="../index.html">PINZA</a></li>
            <li class="dropdown li">
              <a
                href="../about/about.html"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >我们是谁</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a href="../project/project.html?currentTab=0">长租公寓</a>
                </li>
                <li>
                  <a href="../project/project.html?currentTab=1">租赁住房</a>
                </li>
                <li>
                  <a href="../project/project.html?currentTab=2">商品住房</a>
                </li>
                <li>
                  <a href="../project/project.html?currentTab=3">商业办公</a>
                </li>
              </ul>
            </li>
            <li class="dropdown li">
              <a
                href="../product/product.html"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >产品服务</a
              >
              <ul class="dropdown-menu">
                <li><a href="../product/product.html">了解装配式内装</a></li>
                <li><a href="../product/service.html">部装产品及服务</a></li>
                <li><a href="../product/advantage.html">核心优势</a></li>
              </ul>
            </li>
            <li class="img">
              <img
                src="../images/logo-05.png"
                width="220"
                style="position: absolute;z-index: 9999"
              />
            </li>
            <li class="dropdown li margin-left">
              <a
                href="../project/project.html?currentTab=0"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >项目案例</a
              >
              <ul class="dropdown-menu">
                <li><a href="../project/project.html">长租公寓</a></li>
                <li><a href="../project/project2.html">租赁住房</a></li>
                <li><a href="../project/project3.html">商品住房</a></li>
                <li><a href="../project/project4.html">商业办公</a></li>
              </ul>
            </li>
            <li class="li"><a href="../news/news-list.html">新闻动态</a></li>
            <li class="li"><a href="../careers/careers.html">人才发展</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div
      class="banner text-center"
      style="background-image: url('../images/banner-careers.png')"
    >
      <p>
        人才发展 <br />
        OUR CAREERS
      </p>
    </div>
    <div class="main" style="background-image: url('../images/di-3.png')">
      <div class="main-container">
        <div class="content">
          <p class="content-p">
            <span class="color-red">·</span>您所在的位置：<span class="red"
              >>人才发展</span
            >
          </p>
        </div>
        <div class="content-body margin-40">
          <h2>OUR CAREERS</h2>
          <div class="main-container-title">
            <div class="title text-center">
              <img src="../images/about-title.png" alt="" width="100%" />
              <span class="red">人才发展</span>
            </div>
          </div>
        </div>
        <div class="main-container-4">
          <div class="img-box margin-80">
            <img src="../images/car1.png" alt="" width="100%" />
            <p class="p1">
              颠覆传统，我们正在寻找最好的那个你。
              我们是一个成长的团队，目前拥有近100名员工，我们从不同的行业领域聚集起来，怀揣着相同的梦想，一齐为装配式科技内装的发展而努力奋斗，不断成长突破，共同成就伟大的事业。
            </p>
          </div>
          <div class="img-box margin-80">
            <img src="../images/car2.png" alt="" width="100%" />
            <p class="p2">
              我们拥有舒适的办公环境、人性化的员工休闲、零食饮料、
              咖啡以及自由办公区；工作氛围融洽愉快。
            </p>
          </div>
          <div class="img-box margin-80">
            <img src="../images/car3.png" alt="" width="100%" />
            <p class="p1">
              定期举办各种员工生日会、节假日福利活动以及丰富多彩的部门团建活动。
              工作之余，我们还定期举办各种文体活动，总之在品宅无论工作还是生活都将感到快乐和充实。
            </p>
          </div>
        </div>
        <div class="content-body margin-80">
          <div class="main-container-title">
            <div class="title text-center">
              <img src="../images/about-title.png" alt="" width="100%" />
              <span class="red">人才发展</span>
            </div>
          </div>
          <div class="main-container-5">
            <div class="text-center">
              <p class="p-title margin-40">品宅人才计划-品动力管培生计划</p>
              <p class="p-content margin-40">
                “品动力”管理培训生计划是品宅推行的校园招聘项目，每年10月面向全国高校应届生进行人才招募。品宅致力于为“品动力”创造最佳的个人价值平台，将“品动力”培养成为企业未来的合伙人，并为其提供长期的个人成长及事业发展机会。
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 这里是APP -->
      <div id="app" class="main-container-5">
        <div class="content-header-2">
          <template v-for="(item, index) in 招聘列表">
            <div
              :class="['inline-block','list',{active:当前岗位==index}]"
              @click="切换岗位(item,index)"
              :key="index"
            >
              {{ item.name }}
            </div>
          </template>
        </div>

        <div class="content-car-box margin-40">
          <div class="content-car-list" style="display: block">
            <div>
              <div
                class="inline-block"
                style="line-height: 30px"
                v-show="岗位信息.岗位职责"
              >
                <span>岗位职责：</span>
              </div>
              <div
                class="inline-block career-li"
                style="margin-left: 30px;line-height: 30px;color: #505050"
              >
                <template v-for="(item, index) in 岗位信息.岗位职责">
                  {{ index + 1 }}、{{ item.note }}<br />
                </template>
              </div>
            </div>

            <div class="margin-40">
              <div
                class="inline-block"
                style="line-height: 30px"
                v-show="岗位信息.任职要求"
              >
                <span>任职要求：</span>
              </div>
              <div
                class="inline-block career-li"
                style="margin-left: 30px;line-height: 30px;color: #505050"
              >
                <template v-for="(item, index) in 岗位信息.任职要求">
                  {{ index + 1 }}、{{ item.note }}<br />
                </template>
              </div>
            </div>
          </div>
        </div>

        <div class="red margin-40">
          <span class="car-bottom"> 简历投递至：liqin@pinza.com.cn</span>
        </div>
      </div>
    </div>
    <div class="toTop"></div>
    <div class="footer">
      <div class="footer-box">
        <div class="footer-box-content">
          <div class="inline-block list">
            <ul>
              <li><a href="../aabout/about.html">我们是谁</a></li>
              <li><a href="../about/about.html">关于品宅</a></li>
              <li><a href="../about/partner.html">品宅合伙人</a></li>
              <li><a href="../about/corevalue.html">核心价值</a></li>
              <li><a href="../about/contact.html">联系我们</a></li>
            </ul>
          </div>
          <div class="inline-block list">
            <ul>
              <li><a href="../product/product.html">产品服务</a></li>
              <li><a href="../product/product.html">了解装配式内装</a></li>
              <li><a href="../product/service.html">部装产品及服务</a></li>
              <li><a href="../product/advantage.html">核心优势</a></li>
            </ul>
          </div>
          <div class="inline-block list">
            <ul>
              <li>
                <a href="./project/project.html?currentTab=0">项目案例</a>
              </li>
              <li>
                <a href="./project/project.html?currentTab=0">长租公寓</a>
              </li>
              <li>
                <a href="./project/project.html?currentTab=1">租赁住房</a>
              </li>
              <li>
                <a href="./project/project.html?currentTab=2">商品住房</a>
              </li>
              <li>
                <a href="./project/project.html?currentTab=3">商业办公</a>
              </li>
            </ul>
          </div>
          <div class="inline-block list">
            <ul>
              <li class="li"><a href="../news/news-list.html">新闻动态</a></li>
            </ul>
          </div>
          <div class="inline-block list">
            <ul>
              <li class="li"><a href="../careers/careers.html">人才发展</a></li>
            </ul>
          </div>
          <div class="inline-block list" style="text-align: right">
            <img src="../images/pinza.png" alt="品宅二维码" width="60%" />
          </div>
        </div>
        <div class="footer-box-content">
          <div class="inline-block content-list">
            <p>联系电话</p>
            <p style="font-size: 12px">
              咨询热线：400-188-7919                商务专线：139 1724 3731
            </p>
          </div>
          <div class="inline-block content-list">
            <p>办公地址</p>
            <p style="font-size: 12px">上海市徐汇区桂林路402号76幢310室</p>
          </div>
          <div class="inline-block content-list">
            <p>研发中心地址</p>
            <p style="font-size: 12px">上海浦东新区康杉路518号B区102室</p>
          </div>
        </div>
        <div class="footer-box-content">
          <p class="content-bottom">
            COPYRIGHT (©) 2017 PINZA- ALLSIZE WEB DESIGN
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!-- 兼容到IE9 -->
<script type="text/javascript" src="../libs/swiper.min.js"></script>
<script type="text/javascript" src="../js/bootsnav.js"></script>
<script src="http://pinzafile.oss-cn-shanghai.aliyuncs.com/vue-element/dist/vue.js"></script>
<script src="http://pinzafile.oss-cn-shanghai.aliyuncs.com/axios/axios.js"></script>

<!-- 从脚本加载招聘列表 -->
<!-- <script type="text/javascript" src="./招聘信息.js"></script> -->
<!--
  <script
    type="text/javascript"
    src="http://playdev.oss-cn-shanghai.aliyuncs.com/my-object.js"
  ></script>
-->
<script src="../js/trueUrl.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: function() {
      return {
        当前岗位: 0,
        招聘列表: []
      };
    },
    methods: {
      切换岗位: function(item, index) {
        this.当前岗位 = index;
      }
    },
    computed: {
      岗位信息: function() {
        return this.招聘列表[this.当前岗位] || {};
      }
    },
    mounted: function() {
      $.ajax(trueUrl + "/jobList", {
        success: function(res) {
          console.log(res.data);
          app.招聘列表 = res.data;
        },
        error: function(error) {
          console.error(error);
        }
      });
    }
    // async mounted() {
    //   try {
    //     // 异步加载json
    //     let response = await axios.post(`${trueUrl}/jobList`, {
    //       query: {}
    //     });
    //     console.log(response.data.data);
    //     this.招聘列表 = response.data.data;
    //   } catch (error) {
    //     console.error(error);
    //   }
    // }
  });
</script>
