<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <title>合作</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <h1 class="mytitle"><span></span>合作需求登记</h1>
        <form>
            <div class="input-text">
                <label>企业名称： <input type="text" v-validate="'required'" v-model="form.companyName"
                        name="companyName"></label>
                <span class="validatorMessage">{{ errors.first('companyName')?"此项请务必填写":"" }}</span>

            </div>

            <div class="input-radio">
                <label>企业类型：</label><br />
                <label v-for="item in options.companyTypeList"><input v-validate="'required'" type="radio"
                        name="companyType" v-model="form.companyType" :value="item.name"></input>{{item.name}}</label>
                        <br />
                <span class="validatorMessage">{{ errors.first('companyType')?"此项请务必填写":"" }}</span>
            </div>

            <div class="input-text">
                <label>联系人：<input type="text" v-model="form.name" v-validate="'required'" name="name"></label>
                <span class="validatorMessage">{{ errors.first('name')?"此项请务必填写":"" }}</span>
            </div>

            <div class="input-text">
                <label>职务： <input type="text" v-model="form.job" v-validate="'required'" name="job"></label>
                <span class="validatorMessage">{{ errors.first('job')?"此项请务必填写":"" }}</span>

            </div>

            <div class="input-text">
                <label>联系方式： <input type="tel" v-model="form.phone" v-validate="'required'" name="phone"></label>
                <span class="validatorMessage">{{ errors.first('phone')?"此项请务必填写":"" }}</span>

            </div>

            <div class="input-radio-1">
                <label for="">合作形式：</label><br />

                <label v-for="item in options.cooperationTypeList"><input type="radio" v-validate="'required'"
                        name="cooperationType" v-model="form.cooperationType"
                        :value="item.name"></input>{{item.name}}</label>
                <label for="other"><input id="other" type="radio" v-validate="'required'" name="cooperationType"
                        v-model="form.cooperationType" value="其它"></input>其它：</label>

                <div v-if="form.cooperationType=='其它'"><input type="text" v-model="options.otherCooperationType.name"
                        v-validate="'required'" name="otherCooperationType">
                    <span class="validatorMessage">{{ errors.first('otherCooperationType')?"请注明其他类型":"" }}</span>
                </div>
                <span class="validatorMessage">{{ errors.first('cooperationType')?"此项请务必填写":"" }}</span>

            </div>

            <div class="input-text">
                <label>需求描述：<textarea cols="30" rows="6" v-model="form.want" v-validate="'required'"
                        name="want"></textarea></label>
                <span class="validatorMessage">{{ errors.first('want')?"此项请务必填写":"" }}</span></div>

        </form>

        <div class="submit-button">
            <button @click="submit">提 交</button>
        </div>
    </div>
    <p>我们在收到信息后，会在1周内安排业务专员与您取得联系。</p>

    <p>若您还有其他需求需要沟通，可通过以下方式与我们联系。<br />联系方式：方先生 <a href="tel:13917243731">13917243731</a></p>

    <p>感谢您对品宅装配式内装的肯定及支持!</p>

    <img src="./gif.gif" alt="gif" class="bottom-gif">
    </div>

    <script src="http://pinzafile.oss-cn-shanghai.aliyuncs.com/vue-element/dist/vue.js"></script>
    <script src="http://pinzafile.oss-cn-shanghai.aliyuncs.com/axios/axios.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.2.7/vee-validate.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.2.7/locale/zh_CN.js"></script>

    <script>
        Vue.use(VeeValidate);
        // VeeValidate.localize('zh_CN');
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    form: {
                        cooperationType: "",
                        companyType: "",
                        job: "",
                        companyName: "",
                        phone: "",
                        name: "",
                        want: ""

                    },
                    options: {
                        companyTypeList: [{
                            name: "住宅开发商"
                        }, {
                            name: "设计公司"
                        }, {
                            name: "公寓酒店运营商"
                        }, {
                            name: "协会平台"
                        }, {
                            name: "施工企业"
                        }, {
                            name: "其它"
                        }, {
                            name: "材料供应商"
                        }, ],


                        cooperationTypeList: [{
                            name: "项目合作"
                        }, {
                            name: "渠道代理"
                        }, ],

                        otherCooperationType: {
                            name: ""
                        },
                    }
                }
            },
            methods: {
                async submit() {
                    
                    try {
                        let result = await this.$validator.validateAll();
                        if (result) {
                            let temp=this.form;

                            temp.date=(new Date).valueOf();

                            if (temp.cooperationType=="其它") {
                                temp.cooperationType=this.options.otherCooperationType.name
                            }

                            let response = await axios.post("http://192.168.1.174:7001/insertMany",{
                                token:"yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiYWRtaW4",
                                docs:[temp],
                                collection:"cooperation"
                            })
                        } else {
                            alert("请检查并填写必须内容！")
                            console.log(result)
                        }
                    } catch (error) {
                        console.error(error)
                    }

                }
            }
        })

        app.$validator.localize('zh_CN');
    </script>
</body>

</html>